#label1 {
    color:rgb(12, 80, 3);
}
#label2 {
    color:rgb(218, 5, 183);
}
input[type="text"] {
    width: 10%;
    height: 10%;
}
input[type="email"] { 
    width: 10%;
    height: 10%;
}
input[type="number"] {
    width: 10%;
    height: 10%;
}

#label3 {
    color:rgb(85, 16, 197);
}
#label4 {
    color:rgb(15, 179, 224);
}
h1 {
    color:rgb(42, 3, 172)
    
}

#button1 {
    color:rgb(239, 64, 227)
}

p {
    color:rgb(239, 64, 227)
}