<h1>User Information</h1>
<form>
  <label id="label1" for="firstname">Firstname:</label><br>
  <input type="text" id="firstname" [(ngModel)]="user.firstname" [ngModelOptions]="{standalone: true}" /><br><br>

  <label id="label2" for="lastname">Lastname:</label><br>
  <input type="text" id="lastname" [(ngModel)]="user.lastname" [ngModelOptions]="{standalone: true}"/><br><br>

  <label id="label3" for="email">Email:</label><br>
  <input type="email" id="email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}"/><br><br>

  <label id="label4" for="age">Age:</label><br>
  <input type="number" id="age" [(ngModel)]="user.age" [ngModelOptions]="{standalone: true}"/><br><br>

  <button id="button1" type="button" (click)="save()">Save</button>
  <p *ngIf="saved"><strong>{{ user.firstname}} {{user.lastname}} saved successfully!</strong></p>
</form>
